<meta charset="utf-8">

<div class="container-fluid pt-4 px-4" id="register_div">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-8">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add new Customer</h6>
                <form id="register_form">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" class="form-control" id="id" name="id">
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">PASSWORD</label>
                        <input type="password" class="form-control" id="pwd" name="pwd">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">NAME</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Tel.</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                    <label for="cid" class="form-label">LEVLE</label>
					<select class="form-select mb-3" id="level" name="level">
                        <option selected>select level</option>
                        <option value="super">Super</option>
                        <option value="general">General</option>
                    </select>
                </form>
                <button href="#" class="btn btn-primary" id="register_btn">Register</button>
            </div>
        </div>

    </div>
</div>
    <!-- Form End -->