<meta charset="utf-8">

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Board</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">writer</th>
                        <th scope="col">type</th>
                        <th scope="col">title</th>
                        <th scope="col">upload date</th>
                        <th scope="col">views</th>
                        <th scope="col">delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="com:${commulist}">
                        <td th:text="${com.id}"></td>
                        <td th:text="${com.uid}"></td>
                        <td th:text="${com.type}+' / '+${com.location}+' '"></td>
                        <td th:text="${com.title}"></td>
                        <td th:text="${#dates.format(com.regdate,'yyyy/MM/dd')}"></td>
                        <td th:text="${com.views}"></td>
                        <td scope="col"><a th:href="@{comdelete(id=${com.id})}">❎</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>