<meta charset="utf-8">

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Markers</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">write number</th>
                        <th scope="col">location</th>
                        <th scope="col">latitude</th>
                        <th scope="col">longitude</th>
                        <th scope="col">delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="m:${markerlist}">
                        <td th:text=${m.id}></td>
                        <td><a th:text=${m.bid} href="/commu/commumain"></a></td>
                        <td th:text=${m.name}></td>
                        <td th:text=${m.lat}></td>
                        <td th:text=${m.longt}></td>
                        <td scope="col"><a th:href="@{mdelete(id=${m.id})}">❎</a></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>