<meta charset="utf-8">
<style>
.inln{
	display:inline-block;
};

</style>
<div class="container-fluid pt-4 px-4" id="register_div">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-8">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add new Customer</h6>
                <form id="register_form">
                    <div class="mb-3">
                        <label for="id" class="form-label">ID</label>
                        <input type="text" class="form-control" id="id" name="id">
                    </div>
                    <div class="mb-3">
                        <label for="pwd" class="form-label">PASSWORD</label>
                        <input type="password" class="form-control" id="pwd" name="pwd">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">NAME</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">e-mail</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Tel.</label>
                        <input type="text" class="form-control" id="phone" name="phone">
                    </div>
                 
                    <div class="inln col-xl-4">
                        <label for="zip" class="form-label">ZIP</label>
                        <input type="text" class="form-control" id="zip" name="zip">
                    </div>
                    <div class="inln col-xl-7">
                        <label for="addrf" class="form-label">ADDRESS</label>
                        <input type="text" class="form-control" id="addrf" name="addrf">
                    </div>
                    
     				<div class="mb-3">
                        <label for="addrs" class="form-label">DETAIL ADDRESS</label>
                        <input type="text" class="form-control" id="addrs" name="addrs">
                    </div>

                </form>
                <button href="#" class="btn btn-primary" id="register_btn">Register</button>
            </div>
        </div>

    </div>
</div>
    <!-- Form End -->
    
