<meta charset="utf-8">

<div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Customer</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">id</th>
                                            <th scope="col">password</th>
                                            <th scope="col">name</th>
                                            <th scope="col">email</th>
                                            <th scope="col">address</th>
                                            <th scope="col">point</th>
                                            <th scope="col">delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cust:${custlist}">
                                            <td th:text="${cust.id}">id</td>
                                            <td th:text="${cust.pwd}">password</td>
                                            <td th:text="${cust.name}">name</td>
                                            <td th:text="${cust.email}">email</td>
                                            <td th:text="'['+${cust.zip}+'] '+${cust.addrf}+' / '+${cust.addrs}">address</td>
                                            <td th:text="${cust.point}">point</td>
                                            <td scope="col"><a th:href="@{delete(id=${cust.id})}">❎</a></td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>