<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multi.mapper.CateMapper">
	
	<select id="select" parameterType="int" resultType="cateVO">
		SELECT * FROM cate
		WHERE id=#{id}
	</select>
	
	<select id="selectall" resultType="cateVO">
		SELECT * FROM cate
	</select>
	
	<insert id="insert" parameterType="cateVO">
		<if test="upid == 0">
			INSERT INTO cate VALUES (#{id}, #{name}, null)
		</if>
		
		<if test="upid != 0">
			INSERT INTO cate VALUES (#{id}, #{name}, #{upid})
		</if>
	</insert>
	
	<update id="update" parameterType="cateVO">
		<if test="upid == 0">
			UPDATE cate SET name=#{name} upid=null WHERE ID=#{id}
		</if>
		<if test="upid != 0">
			UPDATE cate SET name=#{name}, upid=#{upid} WHERE ID=#{id}
		</if>
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM cate WHERE ID=#{id}
	</delete>
	
	<select id="selectmain" resultType="cateVO">
		SELECT * FROM cate
		WHERE upid is null
	</select>
	
</mapper>