<meta charset="utf-8">
<style>
#register_btn{
	margin-top:30px;
}
</style>
<script>
$(document).ready(function(){
	
	$('#register_btn').click(function(){
		$('#register_form').attr({
			'enctype':'multipart/form-data',
			'method':'post',
			'action':'product_registimpl'
		})
		$('#register_form').submit();
	});
});
</script>
<div class="container-fluid pt-4 px-4" id="register_div">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-8">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add new Product</h6>
                <form id="register_form">
                    <div class="mb-3">
                        <label for="name" class="form-label">NAME</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">PRICE</label>
                        <input type="number" class="form-control" id="price" name="price">
                    </div>
                    <label for="cid" class="form-label">CATEGORY</label>
                    <select class="form-select mb-3" id="cid" name="cid">
                        <option th:each="cate:${catelist}" th:value="${cate.id}" th:text="${cate.id}+' : '+${cate.name}"></option>
                    </select>
                    <div class="mb-3">
                        <label for="stock" class="form-label">STOCK</label>
                        <input type="number" class="form-control" id="stock" name="stock">
                    </div>
                 
                    <div class="mb-3">
                        <label for="mf" class="form-label">IMAGE</label>
                        <input class="form-control" type="file" id="mf" name="mf">
                    </div>
                    
                    <label class="form-label">DESCRIPTION</label>
                    <div class="form-floating">
                    	
                        <textarea class="form-control" placeholder="Leave a comment here"
                            id="description" name="description" style="height: 150px;"></textarea>
                        <label for="description">Product Details</label>
                    </div>
                    
					<button href="#" class="btn btn-primary" id="register_btn">Register</button>
                </form>
                
            </div>
        </div>

    </div>
</div>
    <!-- Form End -->