<meta charset="utf-8">
<style>

</style>
<script>
var errorid = 1;

function checkid(id){
	$.ajax({
		url:'catecheckid',
		data:{'id':id},
		success:function(data){
			if(data == "0"){
				if(id == ""){
					data = "1"
				}
				$('#ispan').text('');
			}else if(data == "1"){
				$('#ispan').text('This ID is already exist');
			}
			errorid = data;
			console.log(errorid);
		}
	});
}
function register(name){
	
	if(errorid == "1"){
		alert("ID Error");
		$('#id').focus();
	}else if(name == ""){
		alert("Input name");
		$('#name').focus();
	}else{
		$('#register_form').attr({
			'method':'post',
			'action':'cate_registimpl'
		});
		$('#register_form').submit();
	}
}



$(document).ready(function(){
	$('#register_btn').click(function(){
		var name = $('#name').val();
		register(name);
		
	});
	
	$('#id').blur(function(){
		var id = $(this).val();
		checkid(id);
	});
});

</script>
<div class="col-sm-12 col-xl-5">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Category</h6>
        <form id="register_form">
            <div class="mb-3" >
                <label for="id" class="form-label">ID</label>
                <input type="number" class="form-control" id="id" name="id">
                <span id="ispan"></span> 
            </div>
            <div class="mb-3">
                <label for="upid" class="form-label">NAME</label>
                <input type="text" class="form-control" id="name" name="name">
            </div>
            <label for="cid" class="form-label">UPID</label>
			<select class="form-select mb-3" id="upid" name="upid">
				<option value="0">Top</option>
                <option th:each="cm:${catemainlist}" th:value="${cm.id}" th:text="${cm.id}+' : '+${cm.name}"></option>
            </select>
        </form>
        <button id="register_btn" class="btn btn-primary">Register</button>
    </div>
</div>
<div class="col-5" id=catetable>
    <div class="bg-light rounded h-100 p-4">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">name</th>
                        <th scope="col">upid</th>
                        <th scope="col">detail</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cate:${catelist}">
                        <td th:text="${cate.id}">id</td>
                        <td th:text="${cate.name}">name</td>
                        <td th:text="${cate.upid}">upid</td>
                        <td ><a th:href="@{catedetail(id=${cate.id})}">⚙</a>️</td>
                    </tr>

                </tbody>
            </table>
        </div>
        
    </div>
    
</div>

