<meta charset="utf-8">

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Product</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">name</th>
                        <th scope="col">price</th>
                        <th scope="col">category</th>
                        <th scope="col">stock</th>
                        <th scope="col">register date</th>
                        <th scope="col">edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product:${productlist}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.name}">name</td>
                        <td th:text="${product.price}">price</td>
                        <td th:text="${product.catename}">catename</td>
                        <td th:text="${product.stock}">stock</td>
                        <td th:text="${#dates.format(product.regdate, 'yyyy/MM/dd')}">regdate</td>
                        <td ><a th:href="@{productdetail(id=${product.id})}">⚙</a>️</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>