<meta charset="utf-8">

<div class="col-12">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">Responsive Table</h6>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">customer id</th>
                        <th scope="col">address</th>
                        <th scope="col">phone</th>
                        <th scope="col">price</th>
                        <th scope="col">payment</th>
                        <th scope="col">regdate</th>
                        <th scope="col">detail</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="buy:${buylist}">
                    	
                        <td th:text="${buy.id}">id</td>
                        <td th:text="${buy.uid}">costomer</td>
                        <td th:text="${buy.name}">address</td>
                        <td th:text="'['+${buy.zip}+' ] '+addrf+' / '+addrs">phone</td>
                        <td th:text="${buy.totalprice}">price</td>
                        <td th:text="${buy.payment}">payment</td>
                        <td th:text="${#dates.format(buy.regdate, 'yyyy/MM/dd')}">regdate</td>
                        <td ><a th:href="@{buydetail(oid=${buy.id})}">▶️</a>️</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>